body{
    font-family: poppins;
    background: #272044;
    padding: 37px;
    margin: 0;
}
.container{
    max-width: 1499px;
    margin: 0 auto;
}
    
    header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8))
    ,url(../images/lisbon.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 200px 0;
}
    header h1{
        font-size: 96px;
        font-weight: 700;
        line-height: 1;
        margin: 30px 0;
       
    }
    header h2{
        font-size: 40px;
        font-weight: 400;
        line-height: 1px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 30px;
    }
    header h3{
        font-size: 24px;
        font-weight: 900;
        display: inline-block;
        margin: 0 auto;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    header a{
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        color: #272044;
        padding: 16px 32px;
        font-size: 14px;
        font-weight: 700;
        margin-top: 32px;
        background-color: white;
        line-height: 1.5;
        letter-spacing: 3px;
    }
    footer{
    color: white;
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)), url(../images/lisbon-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    }

    .grid-footer{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-gap:64px;
       
    }
    section{
        max-width: 1200px;
        margin: 0 auto;
    }
    footer h3{
        color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
    footer li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    footer ul{
        padding: 0;
    }
    footer a{
        text-decoration:underline;
        color: white;
        font-size: 16px;
        line-height: 1.5;
        opacity: 0.7;
    }
    
    footer p{
        color: white;
        opacity: 0.7;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    @media (max-width:900px){
        header{
            padding:60px 0;
        }
        header h1{
            font-size:48px;
        }
        header h2{
            font-size:20px;
        }
        header h3{
            font-size:12px;
        }
    }

