body{
    font-family: poppins;
    background: #272044;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
    
    header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8))
    ,url(../images/lisbon.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 200px 0;
}
    header h1{
        font-size: 96px;
        font-weight: 700;
        line-height: 1;
        margin: 30px 0;
       
    }
    header h2{
        font-size: 40px;
        font-weight: 400;
        line-height: 1px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 30px;
    }
    header h3{
        font-size: 24px;
        font-weight: 900;
        display: inline-block;
        margin: 0 auto;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    header a{
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        color: #272044;
        padding: 16px 32px;
        font-size: 14px;
        font-weight: 700;
        margin-top: 32px;
        background-color: white;
        line-height: 1.5;
        letter-spacing: 3px;
    }
    @media (max-width:900px){
        header{
            padding:60px 0;
        }
        header h1{
            font-size:48px;
        }
        header h2{
            font-size:20px;
        }
        header h3{
            font-size:12px;
        }
    }

